
<div class="row">
  <div class="col-12 m-t-30">


      <!-- Card -->
      <div class="card text-center">

          <div class="card-body">
              <p class="card-text">Me llamo José Antonio Pulido Murga, las personas que me conocen, saben que afronte al cancer hace 3 años, donde esta enfermedad se llevo a mi abuelita y tio.</p>
              <p class="card-text">Es por ello, que entiendo la necesidad de mantenerse informado, asi sea la mas minima ayuda</p>
              <p class="card-text">En el 2017 conoci a una persona que sufria de epilepsia y leusemia melacoide aguda, intente acercarme a ella, y descubri en esta persona muchas virtudes, las cuales me enamoraron</p>
              <p class="card-text">En esta pagina, encontrarás 8 secretos, los cuales me ayudaron a combatir su enfermedad, ya ha pasado mas de un año, y me veo en el deber de hacer estos secretos públicos, espero de todo corazón que pueda ayudarles.</p>

              <a href="#" class="btn btn-info">Go somewhere</a>
          </div>
          <div class="card-footer text-muted">
              2 days ago
          </div>
      </div>
      <!-- Card -->
  </div>
</div>

<!-- End Row -->
<!-- Row -->
