
<div class="row">
  <div class="col-12 m-t-30">


      <!-- Card -->
      <div class="card text-center">

          <div class="card-body">
              <p class="card-text"> Se tiene que aliviar el dolor rapidamente, el excesivo dolor,
                debilita al paciente y esto produce una convulsión de mayor grado
              Buscando entre muchas pastillas, encontre 2, las cuales me estan ayudando bastante para  afrontar ese dolor,
              Migrapac y Nueropress, al tener excesivo dolor este deja sentido a la cabeza(se siente como si te jalaran los pelos)
            si tomar la pastilla no te alivia, se tendra que tomar neuropress, este es un relajante muscular con una vitamina para
          acelerar su ejecución</p>

              <a href="#" class="btn btn-info">Go somewhere</a>
          </div>
          <div class="card-footer text-muted">
              2 days ago
          </div>
      </div>
      <!-- Card -->
  </div>
</div>

<!-- End Row -->
<!-- Row -->
